assets/html/home.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Page title-->
    <title></title>
    <!-- Meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width=1, initial-scale=1.0">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="../css/global.css">
    <!-- Fonts-->
    <!-- JavaScripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/main-scripts.js"></script>
    <script src="../js/slick.js"></script>
    <!-- scripts for yandex sharing-->
    <script src="//yastatic.net/share2/share.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <header class="page-header">
        <div class="page-header--container">
          <div class="page-header--top-block">
            <div class="page-header--contact-details">
              <div class="contact-details__phone">8-800-775-75-34</div>
              <div class="contact-details__title">Бесплатная горячая линия</div>
            </div><a href="home.html" class="page-header--company-logo"></a>
            <div class="page-header--search-block">
              <form method="get" class="page-header__search-form">
                <input type="search" placeholder="Поиск" class="page-header__search-input">
                <button class="page-header__search-button"></button>
              </form><a href="#callback" class="page-header__go-to-callback-page"></a><a href="#questions" class="page-header__go-to-questions-page">?</a>
            </div>
          </div>
          <!--Nav menu-->
          <nav class="navmenu">
            <div class="navmenu__icon">
              <div class="navmenu__icon-open"><i class="navmenu__icon-open-dot"></i><i class="navmenu__icon-open-dot"></i><i class="navmenu__icon-open-dot"></i></div>
              <div class="navmenu__icon-close"><i class="navmenu__icon-close-cross-line-1"></i><i class="navmenu__icon-close-cross-line-2"></i></div>
            </div>
            <ul class="navmenu__container">
              <li class="navmenu__item navmenu__sofia-world"><span class="navmenu__item-span">Мир Софья</span>
                <nav class="navsubmenu">
                  <ul class="navsubmenu__container">
                    <li class="navmenu__item"><a class="navmenu__link" href="brand-phylosophy.html"><span class="navmenu__item-span">Филосифия бренда</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="brand-history.html"><span class="navmenu__item-span">История бренда</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="our-designers.html"><span class="navmenu__item-span">Наши дизайнеры</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="sofia-on-tv.html"><span class="navmenu__item-span">Софья в телепередачах</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="certificates.html"><span class="navmenu__item-span">Сертификаты и патенты</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="partnership.html"><span class="navmenu__item-span">Партнерство</span></a></li>
                  </ul>
                </nav>
              </li>
              <li class="navmenu__item navmenu__company-products"><span class="navmenu__item-span">Продукция компании</span>
                <nav class="navsubmenu">
                  <ul class="navsubmenu__container">
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Интерьерные двери</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Межкомнатные перегородки</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Погонажные изделия</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Фурнитура</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Напольные покрытия</span></a></li>
                  </ul>
                </nav>
              </li>
              <li class="navmenu__item navmenu__interior-solutions"><span class="navmenu__item-span">Интерьерные решения</span>
                <nav class="navsubmenu">
                  <ul class="navsubmenu__container">
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Современный стиль</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Новая классика</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Скандинавский стиль</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Высокий дизайн</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Винтаж</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Софт лакшери/мягкий люкс</span></a></li>
                  </ul>
                </nav>
              </li>
              <li class="navmenu__item navmenu__for-buyers"><span class="navmenu__item-span">Покупателям</span>
                <nav class="navsubmenu">
                  <ul class="navsubmenu__container">
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Вопросы и ответы</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Заказать продукцию</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Монтаж</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">О безопасности продукции</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Наши гарантии</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Рекомендации по уходу</span></a></li>
                    <li class="navmenu__item"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Отзывы</span></a></li>
                  </ul>
                </nav>
              </li>
              <li class="navmenu__item navmenu__for-specialists"><span class="navmenu__item-span">Специалистам</span>
                <nav class="navsubmenu">
                  <ul class="navsubmenu__container">
                    <li class="navmenu__item navmenu__for-architectors-n-designers"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Дизайнерам и архитекторам</span></a></li>
                    <li class="navmenu__item navmenu__for-customer-service"><a class="navmenu__link" href="#link"><span class="navmenu__item-span">Сервисной службе</span></a></li>
                  </ul>
                </nav>
              </li>
              <li class="navmenu__item navmenu__where-to-buy"><a class="navmenu__link" href="where-to-buy.html">Где купить</a></li>
              <li class="navmenu__item navmenu__contact-details"><a class="navmenu__link" href="contacts.html">Контакты</a></li>
              <ul class="navmenu__callback-n-faq">
                <li class="navmenu__item navmenu__callback"><a class="navmenu__link" href="#"></a></li>
                <li class="navmenu__item navmenu__faq"><a class="navmenu__link" href="#">?</a></li>
              </ul>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <div class="main-content-container">
          <div class="pictured-container">
            <div class="pictured-block--banner">
              <div class="slick-slider">
                <div class="slick-slide01"><a href="#banner-goes-to" class="banner__link">
                    <div class="banner--text-content">
                      <div class="banner--text-content__title">Новая коллекция Phantom</div>
                      <div class="banner--text-content__text">
                        Невесомое полотно из цельного стекла
                        бесшумно скользит вдоль лаконичной направляющей,
                        удивляя совершенством формы и легкостью
                        
                      </div>
                    </div></a></div>
                <div class="slick-slide02"><a href="#banner-goes-to" class="banner__link">
                    <div class="banner--text-content">
                      <div class="banner--text-content__title">Sofia в передаче Квартирный вопрос</div>
                      <div class="banner--text-content__text">
                        Коллекция Classic в отделке белый матовый лак.
                        Смотрите в субботу 25 июня в 11:50, на НТВ.
                        Повтор - среда, 29 июня в 02:00
                        
                        
                      </div>
                    </div></a></div>
                <div class="slick-slide03"><a href="#banner-goes-to" class="banner__link">
                    <div class="banner--text-content">
                      <div class="banner--text-content__title">Тренды Милана в салонах Sofia</div>
                      <div class="banner--text-content__text">
                        Прошло больше месяца как Salon del Mobile 2016
                        официально закрыл свои двери для посетителей.
                        Пришло время подвести итоги
                        
                        
                      </div>
                    </div></a></div>
                <div class="slick-slide04"><a href="#banner-goes-to" class="banner__link"></a>
                  <div class="banner--text-content">
                    <div class="banner--text-content__title">Sofia в передаче Школа ремонта</div>
                    <div class="banner--text-content__text">
                      Коллекция Bridge на уникальной сдвижной системе Compack 180.
                      Смотрите на телеканале ТНТ в субботу 2 июля в 11-00.
                      Повтор в пятницу 8 июля в 10:30
                      
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pictured-block__section">
              <div class="pictured-block__doors"><a href="#doors" class="pictured-block__link">
                  <div class="pictured-block__picture-container"></div>
                  <div class="pictured-block--text-content">
                    <div class="pictured-block--text-content__title">Двери</div>
                    <div class="pictured-block--text-content__text">Авторские дизайнерские коллекции для любого стилевого решения</div>
                  </div>
                  <div class="pictured-block--cover">
                    <div class="pictured-block--cover__title">Двери</div>
                    <div class="pictured-block--cover__text">
                      Авторские дизайнерские коллекции дверей Софья
                      это результат постоянного изучения современных тенденций
                      в мире дизайна и моды. Актуальные тренды и классические формы –
                      здесь вы найдёте двери в нужном стиле.
                      
                    </div>
                  </div></a></div>
              <div class="pictured-block__engineering"><a href="#engineering" class="pictured-block__link">
                  <div class="pictured-block__picture-container"></div>
                  <div class="pictured-block--text-content">
                    <div class="pictured-block--text-content__title">Engineering</div>
                    <div class="pictured-block--text-content__text">Эволюция межкомнатной двери: сдвижные, складные и вращающиеся двери</div>
                  </div>
                  <div class="pictured-block--cover">
                    <div class="pictured-block--cover__title">Engineering</div>
                    <div class="pictured-block--cover__text">
                      Sofia Engineering – это новый концепт организации жилого пространства,
                      инновационные, технологичные и эффективные системы сдвижных дверей и перегородок,
                      защищенные российскими и международными патентами.
                      
                    </div>
                  </div></a></div>
              <div class="pictured-block__parquet"><a href="#parquet" class="pictured-block__link">
                  <div class="pictured-block__picture-container"></div>
                  <div class="pictured-block--text-content">
                    <div class="pictured-block--text-content__title">Паркет</div>
                    <div class="pictured-block--text-content__text">Последние тренды в мире моды для Вашего интерьера</div>
                  </div>
                  <div class="pictured-block--cover">
                    <div class="pictured-block--cover__title">Паркет</div>
                    <div class="pictured-block--cover__text">
                      Инновационные функциональные характеристики паркетной
                      доски позволят точно проектировать нужный пол
                      в каждой из жилых зон вашего дома.
                      
                    </div>
                  </div></a></div>
            </div>
            <div class="pictured-block__designers"><a href="#designers" class="pictured-block__link">
                <div class="pictured-block__picture-container"></div>
                <div class="pictured-block--text-content">
                  <div class="pictured-block--text-content__title">Дизайнеры</div>
                  <div class="pictured-block--text-content__text">Мы работаем с лучшими мастерами Италии</div>
                </div>
                <div class="pictured-block--cover">
                  <div class="pictured-block--cover__title">Дизайнеры</div>
                  <div class="pictured-block--cover__text">
                    Дизайн это лучший способ донести до каждого нашу задачу –
                    создавать настоящие ценности.
                    С нами работают лучшие итальянские дизайнеры,
                    разделяющие наши убеждения.
                    
                  </div>
                </div></a></div>
            <div class="pictured-block__interior-solutions"><a href="#interior-solutions" class="pictured-block__link">
                <div class="pictured-block__picture-container"></div>
                <div class="pictured-block--text-content">
                  <div class="pictured-block--text-content__title">Интерьерные решения</div>
                  <div class="pictured-block--text-content__text">Экспертное мнение для создания стильного жилого пространства</div>
                </div>
                <div class="pictured-block--cover">
                  <div class="pictured-block--cover__title">Интерьерные решения</div>
                  <div class="pictured-block--cover__text"></div>
                </div></a></div>
          </div>
          <div class="our-advantages">
            <div class="our-advantages__title">Наши преимущества</div>
            <div class="our-advantages__quality">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Качество</div>
                <div class="our-advantages--cover__text">
                  Процессный подход к управлению, европейский стандарт ISO 9001:2008
                  грамотно объединяют все этапы изготовления и распространения
                  продукции, благодаря этому вы сможете ощутить качество
                  продукции Софья лишь посмотрев на нее.
                </div>
              </div>
            </div>
            <div class="our-advantages__eco">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Экология</div>
                <div class="our-advantages--cover__text">
                  Когда речь заходит об экологии и безопасности,
                  часто говорят о сложных понятиях. Мы за понятный подход
                  к экологии! Поэтому для нашей продукции выбираем натуральные
                  и безопасные материалы, которые принесут в ваш дом удовольствие.
                </div>
              </div>
            </div>
            <div class="our-advantages__patented">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Уникальность</div>
                <div class="our-advantages--cover__text">
                  Фабрика «Софья» следит за модой и всегда готова удивлять
                  новыми оригинальными идеями Каждый продукт, создаваемый фабрикой уникален
                  с технической точки зрения, производства, структуры и технологий.
                </div>
              </div>
            </div>
            <div class="our-advantages__innovations">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Инновации</div>
                <div class="our-advantages--cover__text">
                  Софья всегда в поисках нового. Без постоянного обновления
                  технологических процессов и оборудования мы не смогли бы
                  поддерживать необходимый уровень качества и безопасности
                  нашей продукции, актуальность дизайнерских решений.
                </div>
              </div>
            </div>
            <div class="our-advantages__design">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Дизайн</div>
                <div class="our-advantages--cover__text">
                  Выбирая дизайн от Софьи, вы становитесь обладателем
                  актуальной и модной вещи, выражающей неповторимый
                  авторский стиль лучших мастеров Италии.
                </div>
              </div>
            </div>
            <div class="our-advantages__trustworthy">
              <div class="our-advantages--cover">
                <div class="our-advantages--cover__title">Доверие к бренду</div>
                <div class="our-advantages--cover__text">
                  В 2012 году впервые в истории музея современного искусства Triennale (Италия, Милан)
                  была приглашена российская компанияСофья, которая показала
                  свою философию бренда в инсталляции «FiloSofia».
                  Для нас это знак того, что мы движемся в правильном направлении.
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="page-footer">
        <div class="page-footer--container">
          <!--Nav menu-->
          <nav class="navmenu">
            <ul class="navmenu__container">
              <li class="navmenu__item navmenu__sofia-world"><a class="navmenu__link" href="sofia-world.html">Мир Софья</a></li>
              <li class="navmenu__item navmenu__company-products"><a class="navmenu__link" href="company-products.html">Продукция компании</a></li>
              <li class="navmenu__item navmenu__interior-solutions"><a class="navmenu__link" href="interior-solutions.html">Интерьерные решения</a></li>
              <li class="navmenu__item navmenu__for-buyers"><a class="navmenu__link" href="for-buyers.html">Покупателям</a></li>
              <li class="navmenu__item navmenu__for-specialists"><a class="navmenu__link" href="for-specialists.html">Специалистам</a></li>
              <li class="navmenu__item navmenu__where-to-buy"><a class="navmenu__link" href="where-to-buy.html">Где купить</a></li>
              <li class="navmenu__item navmenu__contact-details"><a class="navmenu__link" href="contacts.html">Контакты</a></li>
              <ul class="navmenu__callback-n-faq">
                <li class="navmenu__item navmenu__callback"><a class="navmenu__link" href="#"></a></li>
                <li class="navmenu__item navmenu__faq"><a class="navmenu__link" href="#">?</a></li>
              </ul>
            </ul>
          </nav>
          <div class="page-footer--bottom-block">
            <div class="page-footer--contact-details">
              <div class="contact-details__phone">8-800-775-75-34</div>
              <div class="details__title">Бесплатная горячая линия</div>
            </div>
            <div class="page-footer--social-share-block">
              <div data-services="vkontakte,facebook,twitter" data-limit="0" data-copy="hidden" class="ya-share2"></div>
              <div class="page-footer--social-buttons-container">
                <div class="page-footer--social-buttons__title">Мы в соцсетях:</div>
                <div class="page-footer--social-buttons-block"><a href="https://twitter.com/" target="_blank" class="page-footer__social-tw"></a><a href="http://vk.com/" target="_blank" class="page-footer__social-vk"></a><a href="https://www.facebook.com/Sofiadoors/" target="_blank" class="page-footer__social-fb"></a></div>
              </div>
            </div>
            <div class="page-footer__rights-reserved">
              &copy; Все права на любые материалы, опубликованные на сайте,
              защищены в соответствии с российским и международным
              законодательством об авторском праве и смежных правах.
              
            </div>
            <div class="page-footer__site-map-wrap"><a href="#site_map" class="page-footer__site-map">Карта сайта</a></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

assets/jade/home.jade
extends _layouts/_main-layout

block config
    - var slider = true

block page-body
    main
        .main-content-container
            include _page-partials/_home--pictured-container

            .our-advantages
                .our-advantages__title Наши преимущества
                .our-advantages__quality
                    .our-advantages--cover
                        .our-advantages--cover__title Качество
                        .our-advantages--cover__text.
                            Процессный подход к управлению, европейский стандарт ISO 9001:2008
                            грамотно объединяют все этапы изготовления и распространения
                            продукции, благодаря этому вы сможете ощутить качество
                            продукции Софья лишь посмотрев на нее.
                .our-advantages__eco
                    .our-advantages--cover
                        .our-advantages--cover__title Экология
                        .our-advantages--cover__text.
                            Когда речь заходит об экологии и безопасности,
                            часто говорят о сложных понятиях. Мы за понятный подход
                            к экологии! Поэтому для нашей продукции выбираем натуральные
                            и безопасные материалы, которые принесут в ваш дом удовольствие.
                .our-advantages__patented
                    .our-advantages--cover
                        .our-advantages--cover__title Уникальность
                        .our-advantages--cover__text.
                            Фабрика «Софья» следит за модой и всегда готова удивлять
                            новыми оригинальными идеями Каждый продукт, создаваемый фабрикой уникален
                            с технической точки зрения, производства, структуры и технологий.
                .our-advantages__innovations
                    .our-advantages--cover
                        .our-advantages--cover__title Инновации
                        .our-advantages--cover__text.
                            Софья всегда в поисках нового. Без постоянного обновления
                            технологических процессов и оборудования мы не смогли бы
                            поддерживать необходимый уровень качества и безопасности
                            нашей продукции, актуальность дизайнерских решений.
                .our-advantages__design
                    .our-advantages--cover
                        .our-advantages--cover__title Дизайн
                        .our-advantages--cover__text.
                            Выбирая дизайн от Софьи, вы становитесь обладателем
                            актуальной и модной вещи, выражающей неповторимый
                            авторский стиль лучших мастеров Италии.
                .our-advantages__trustworthy
                    .our-advantages--cover
                        .our-advantages--cover__title Доверие к бренду
                        .our-advantages--cover__text.
                            В 2012 году впервые в истории музея современного искусства Triennale (Италия, Милан)
                            была приглашена российская компанияСофья, которая показала
                            свою философию бренда в инсталляции «FiloSofia».
                            Для нас это знак того, что мы движемся в правильном направлении.
